DATABASE_URL=postgresql+asyncpg://seenior:seenior@localhost:5432/seenior
SECRET_KEY=change-me-to-a-long-random-value
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GOOGLE_CLIENT_ID=814522278451-hjg3sc6ab4etvlvtp2sd5rvn5t51okvh.apps.googleusercontent.com